#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Icon=/home/nos3/icons/nos3.png
Icon[en_US]=/home/nos3/icons/nos3.png
Name[en_US]=nos3-run
Exec=/home/nos3/bin/nos3-run.sh
Name=nos3-run
