---
- name: Display OS variable
  debug:
    var: OS

# Configure jstar permissions, env, etc.
- name:  Add jstar user to various groups
  become: yes
  user:
    name: jstar
    groups: domainusers, dialout, vagrant, vboxsf, docker
  tags: base
  # Note: group root needed to find necessary library files to build

- name: Add jstar user as a sudoer
  become: yes
  lineinfile:
    path: /etc/sudoers.d/jstar
    create: yes
    line: 'jstar ALL=(ALL) NOPASSWD:ALL'
  tags: base

# Hide the vagrant user
- name:  Hide vagrant user
  become: yes
  blockinfile:
    path: /var/lib/AccountsService/users/vagrant
    create: yes
    mode: '0666'
    marker: "# {mark} Ansible managed launch hide vagrant user block"
    block: |
      [User]
      SystemAccount=true
  tags: base

# RedHat change vagrant password
- name: Change vagrant password on RedHat
  become: yes
  when: ansible_facts['os_family'] == "RedHat"
  shell:
    cmd: usermod -p vagrant vagrant

# Virtual Box
- name: Guest additions
  tags: guest-additions
  block:
  - name: Install guest additions required packages for Rocky
    become: yes
    when: (OS == "rocky") and ansible_facts['os_family'] == "RedHat"
    package:
      name: 
        - gcc 
        - kernel
        - kernel-devel 
        - kernel-headers 
        - dkms 
        - make 
        - bzip2 
        - perl
      state: latest
  - name: Install guest additions required packages for Oracle
    become: yes
    when: (OS == "oracle") and (ansible_facts['os_family'] == "RedHat")
    package:
      name: 
        - "kernel-uek-devel-5.4.17-2136.315.5.el8uek.x86_64"
  - name: Build guest additions for new Oracle kernel
    become: yes
    when: (OS == "oracle") and (ansible_facts['os_family'] == "RedHat")
    shell:
      cmd: /sbin/rcvboxadd quicksetup 5.4.17-2136.315.5.el8uek.x86_64

  - name: Install guest additions required packages for Ubuntu
    become: yes
    when: ansible_facts['os_family'] == "Debian"
    package:
      name: "linux-headers-{{ ansible_kernel }}"

##### Perform JSTAR branding #####
- name: Install/use jstar background on Ubuntu
  become: yes
  when: ansible_facts['os_family'] == "Debian"
  blockinfile:
    path: /etc/profile.d/all_users.sh
    create: yes
    mode: '0666'
    marker: "# {mark} Ansible managed jstar background block"
    block: |
      gsettings set org.gnome.desktop.background picture-uri "/usr/share/backgrounds/JSTAR_Background.png"
      gsettings set org.gnome.desktop.background picture-options 'centered'
  tags: base
- name: Copy jstar background
  become: yes
  copy:
    src: /vagrant/nos3_filestore/backgrounds/JSTAR_Background.png
    dest: /usr/share/backgrounds/
    mode: '0666'
  tags: base

- name: Install jstar background on RHEL
  become: yes
  when: (ansible_facts['os_family'] == "RedHat") or (ansible_facts['os_family'] == "Rocky")
  blockinfile:
    path: /etc/dconf/db/local.d/02-gnome-desktop-background
    create: yes
    marker: "# {mark} Ansible managed jstar backgrounds block"
    block: |
      [org/gnome/desktop/background]
      picture-uri='file:///usr/share/backgrounds/JSTAR_Background.png'
      [org/gnome/desktop/background]
      picture-options='centered'
      [org/gnome/desktop/background]
      primary-color='#000000'
  tags: base
- name: Use jstar background on RHEL
  become: yes
  when: (ansible_facts['os_family'] == "RedHat") or (ansible_facts['os_family'] == "Rocky")
  command:  dconf update
  tags: base

# Bring back nice to haves in Gnome
- name: GNOME Nice to haves
  tags: gnome-nice-to-haves
  block:
  - name: Download get-pip.py for Rocky
    when: (OS == "rocky")
    ansible.builtin.get_url:
      url: https://bootstrap.pypa.io/pip/3.6/get-pip.py # Hardcoded 3.6
      dest: /tmp/get-pip.py
      mode: '0440'
  - name: Download get-pip.py for Oracle or Ubuntu
    when: (OS == "oracle") or (OS == "ubuntu")
    ansible.builtin.get_url:
      url: https://bootstrap.pypa.io/get-pip.py
      dest: /tmp/get-pip.py
      mode: '0440'
  - name: Execute pip install script for the ansible python version
    become: true
    script: /tmp/get-pip.py
    args:
      executable: "{{ ansible_python.executable }}"
  - name: PIP install psutil
    become: true
    command: "{{ ansible_python.executable }} -m pip install psutil"
  
# Gnome Preferences
- name: GNOME Preferences
  become: true
  become_user: jstar
  block:
    - name: Minimize, maximize, close buttons
      community.general.dconf:
        key: "/org/gnome/desktop/wm/preferences/button-layout"
        value: "':minimize,maximize,close'"
    - name: Window list
      community.general.dconf:
        key: "/org/gnome/shell/enabled-extensions"
        value: "['window-list@gnome-shell-extensions.gcampax.github.com']"
    - name: Disable idle delay
      community.general.dconf:
        key: "/org/gnome/desktop/session/idle-delay"
        value: "'uint32 0'"
    - name: Disable idle activation
      community.general.dconf:
        key: "/org/gnome/desktop/screensaver/idle-activation-enabled"
        value: "'false'"
    - name: Disable lock
      community.general.dconf:
        key: "/org/gnome/desktop/screensaver/lock-enabled"
        value: "'false'"
    - name: Favorites, Debian
      when: ansible_facts['os_family'] == "Debian"
      community.general.dconf:
        key: "/org/gnome/shell/favorite-apps"
        value: "['org.gnome.Nautilus.desktop', 'org.gnome.Terminal.desktop', 'firefox_firefox.desktop']"
    - name: Favorites, RedHat
      when: (ansible_facts['os_family'] == "RedHat") or (ansible_facts['os_family'] == "Rocky")
      community.general.dconf:
        key: "/org/gnome/shell/favorite-apps"
        value: "['org.gnome.Nautilus.desktop', 'org.gnome.Terminal.desktop', 'firefox.desktop']"
    - name: Ignore new release
      dconf:
        key: "/com/ubuntu/update-manager/check-new-release-ignore"
        value: "'jammy'"

# Conky
- name: Install conky for RHEL
  become: yes
  when: ansible_facts['os_family'] == "RedHat"
  package:
    name: 
      - conky
    state: latest
- name: Install conky for Ubuntu
  become: yes
  when: ansible_facts['os_family'] == "Debian"
  package:
    name: 
      - conky-all
    state: latest
- name: configure conky
  become: yes
  block:
    - name: Create conky autostart directory
      file:
        path: /home/jstar/.config/autostart
        state: directory
    - name: Create conky config directory
      file:
        path: /home/jstar/.config/conky
        state: directory
    - name: Copy conky config
      copy:
        src: files/conky.conf
        dest: /home/jstar/.config/conky
    - name: Configure conky autostart
      copy:
        src: files/conky.desktop
        dest: /home/jstar/.config/autostart/
